<%- include('partials/head') %>
    <div id= "post-container">
        <a class="btn btn-primary" href= "/new-post">Create a new post</a><br>
        <% const isMember = (typeof currentUser != 'undefined' && currentUser.is_member); %>
        <% if (!isMember) { %>
            <div class="alert alert-info mt-3" role="alert">
                You must be a member to see posts' author and date.
            </div>
        <% } %>
        <% posts.forEach((post) => { %> 
            <div class= "card mt-3">
                <div class="card-header">
                    <b><%= (isMember ? post.author.username : 'Anonymous') %></b>
                </div>
                <div class="card-body">
                    <p class="card-text"><%= post.content %></p>
                    <p class="card-text"><small class="text-body-secondary"><%= (isMember ? post.formattedDate : '') %></small></p>
                </div>
            </div>
        <% }) %>
    </div>
<%- include('partials/footer') %>