<%- include('partials/head') %>
    <div id= "post-container">
        <a class="btn btn-primary" href= "/new-post"><i class="bi bi-pen me-2"></i>New post</a><br>
        <% const isMember = (typeof currentUser != 'undefined' && currentUser.is_member); %>
        <% const isAdmin = (typeof currentUser != 'undefined' && currentUser.is_admin); %>
        <% if (!isMember) { %>
            <div class="alert alert-info mt-3" role="alert">
                <i class="bi bi-info-circle me-2"></i>
                You must be a member to see posts' author and date.
            </div>
        <% } %>
        <% posts.forEach((post) => { %> 
            <div class= "card mt-3">
                <div class="d-flex flex-row align-items-center card-header">
                    <div class="me-auto">
                        <b><%= (isMember ? post.author.username : 'Anonymous') %></b>
                    </div>
                    <div>
                        <% if (isAdmin) { %>
                            <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onClick="showDeleteModal(this)" class="btn btn-outline-danger delete-post" data-post-url="<%= post.url %>">Delete</button>
                        <% } %>
                    </div>
                </div>
                <div class="card-body">
                    <img src="<%= post.imageURL %>" style="max-height: 10em;" class="img-fluid rounded mx-auto d-block">
                    <p class="card-text"><%= post.content %></p>
                    <% if (isMember) { %>
                        <p class="card-text"><small class="text-body-secondary"><i class="bi bi-clock me-2"></i><%= (isMember ? post.formattedDate : '') %></small></p>
                    <% } %>
                </div>
            </div>
        <% }) %>
    </div>
    <%- include('components/modal', { 
        title: "Delete post", 
        body: "Are you frfr want to delete this post?", 
        close: "Nahhh", 
        confirm: "For real"
    }) %>
    <script>
        function showDeleteModal (button) {
            const deleteURL = button.getAttribute('data-post-url') + "delete";
            const modalConfirmButton = document.querySelector(".modal #confirm");
            modalConfirmButton.setAttribute("href", deleteURL);
        }
    </script>
<%- include('partials/footer') %>